<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <h4>Home Control Center</h4>
    <ul class="nav nav-pills nav-fill navbar-light" style="background-color: #e3f2fd;">
        <li class="nav-item">
            <a class="nav-link active" routerLink="app/test" routerLinkActive="active">Test</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/app/froniusmeter" routerLinkActive="active">Froniusmeter</a>
        </li>
    </ul>
    <router-outlet></router-outlet>
</div>
